<div style="margin-bottom: 20px;">
    <div style="display: inline-block; width: 65%; vertical-align: top;">
        {{ include.keynote.title }}
        <br>
        <!-- Authors -->
        {{include.keynote.authors | markdownify }}
        <br>
    </div><div style="display: inline-block; width: 10%; vertical-align: top;">
    </div><div style="display: inline-block; width: 25%; vertical-align: top;">
    <a href="{{include.keynote.video}}">
        <img src="/assets/images/-Video-red.svg"></a>
    </div>
    <!-- Abstract -->
    <blockquote>{{include.keynote.abstract | markdownify }}</blockquote>
</div>