<div>
    {%if include.keynote.video%}
    <div style="display: inline-block; width: 65%; vertical-align: top;">
        <!-- {{ include.keynote.title }} -->
        <!-- <br> -->
        {{include.keynote.authors | markdownify }}
    </div><div style="display: inline-block; width: 10%; vertical-align: top;">
    </div><div style="display: inline-block; width: 25%; vertical-align: top;">
    <a href="{{include.keynote.video}}">
        <img src="/assets/images/-Video-red.svg"></a>
    </div>
    {%else%}
        {{include.keynote.authors | markdownify }}
    {%endif%}
    <!-- Abstract -->
    <blockquote style="margin-top: 0;">{{include.keynote.abstract | markdownify }}</blockquote>
</div>