<div style="margin-bottom: 20px;">
    <div style="display: inline-block; width: 65%; vertical-align: top;">
        {{ include.keynote.title }}
        <br>
        <!-- Authors -->
        {{include.keynote.authors | markdownify }}
        <br>
    </div><div style="display: inline-block; width: 35%; vertical-align: top;">
        <!-- Embeded video -->
        {% capture youtube-id %}{{include.keynote.yt-id}}{% endcapture %}
        {% include video id=youtube-id provider="youtube" %}
    </div>
    <!-- Abstract -->
    <blockquote>{{include.keynote.abstract | markdownify }}</blockquote>
</div>