<div style="margin-bottom: 20px;">
    <div style="display: inline-block; width: 65%; vertical-align: top;">
        <a href="{{ include.pdf }}">
            {{ include.title }}
        </a>
        <br>
        <!-- PDF -->
        <a href="{{include.pdf}}">
            <img src="https://img.shields.io/badge/-PDF-blue?logo=adobeacrobatreader&labelColor=grey"></a>
        <!-- Video -->
        <a href="{{include.video}}">
            <img src="https://img.shields.io/badge/-Video-red?logo=youtube&labelColor=grey"></a>
        <br>
        {{paper.authors | markdownify }}
        <!-- Authors -->
        <!-- {% for author in paper.authors %}
        {{author.name}} ({{author.affiliation}})
        {% endfor %} -->
    </div><div style="display: inline-block; width: 35%; vertical-align: top;">
        <!-- Embeded video -->
        {% capture youtube-id %}{{include.yt-id}}{% endcapture %}
        {% include video id=youtube-id provider="youtube" %}
    </div>
</div>