<div style="margin-bottom: 20px;">
    <div style="display: inline-block; width: 65%; vertical-align: top;">
        <a href="{{ include.paper.pdf | relative_url }}">
            {{ include.paper.title }}
        </a>
        <br>
        {{include.paper.authors | markdownify }}
        <!-- Authors -->
        <!-- {% for author in paper.authors %}
        {{author.name}} ({{author.affiliation}})
        {% endfor %} -->
    </div><div style="display: inline-block; width: 10%; vertical-align: top;">
    </div><div style="display: inline-block; width: 25%; vertical-align: top;">
        <!-- PDF -->
        <a href="{{include.paper.pdf  | relative_url }}">
            <img src="/assets/images/-PDF-blue.svg"></a>
        <!-- Video -->
        <br>
        <a href="{{include.paper.video}}">
            <img src="/assets/images/-Video-red.svg"></a>
        <br>
    </div>
</div>